<h1>Listing static_pages</h1>

<table>
  <thead>
    <tr>
      <th>About</th>
      <th>Tag1</th>
      <th>Tag2</th>
      <th>Tag3</th>
      <th>Tag4</th>
      <th>Thinking</th>
      <th>Skills</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @static_pages.each do |static_page| %>
      <tr>
        <td><%= static_page.about %></td>
        <td><%= static_page.tag1 %></td>
        <td><%= static_page.tag2 %></td>
        <td><%= static_page.tag3 %></td>
        <td><%= static_page.tag4 %></td>
        <td><%= static_page.thinking %></td>
        <td><%= static_page.skills %></td>
        <td><%= link_to 'Show', static_page %></td>
        <td><%= link_to 'Edit', edit_static_page_path(static_page) %></td>
        <td><%= link_to 'Destroy', static_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Static page', new_static_page_path %>
