<% title @blog.title %>
<% meta_desc "#{truncate @blog.desc, length: 50, :escape => false, separator: '' }" %>

<%= content_for(:meta_og) do %>
    <meta property="og:title" content="<%= @blog.title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= "http://#{request.host_with_port}/#{@blog.slug}" %>" />
    <meta property="og:published_time" content="<%= @blog.created_at.localtime.strftime('%B %e at %l:%M %p') %>" />
    <meta property="og:author" content="<%= @blog.name %>" />
    <meta property="og:description" content="<%= truncate @blog.desc, length: 50, :escape => false, separator: '' %>" />
    <% if @blog.blog_images_url.nil? %>
        <%= tag :meta, property: 'og:image', content: image_url('../assets/my_image.jpg') %>
    <% else %>
        <%= tag :meta, property: 'og:image', content: "#{@blog.blog_images_url}" %>
    <% end %>
<% end %>
<!-- +++++ Post +++++ -->
<div id="white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p><img class="blog user" src="/assets/my_image.jpg" width="50px" height="50px"> <ba><%= @blog.name %></ba></p>
        <p><bd><%= @blog.created_at.localtime.strftime("%B %e at %l:%M %p") %></bd></p>
        <h1><%= @blog.title %></h1>
        <% if false %>
            <% if @blog.image == "" %>
                <p><img class="img-responsive" src="/assets/blog01.jpg" alt=""></p>
            <% else %>
                <p><img class="img-responsive" src="<%= @blog.image.html_safe %>" alt=""></p>
            <% end %>
        <% end %>

        <% if @blog.image != "" %>
            <p><img class="img-responsive" src="<%= @blog.image.html_safe %>" alt=""></p>
        <% elsif @blog.blog_images_url.nil? %>
            <p><img class="img-responsive" src="/assets/blog01.jpg" alt=""></p>
        <% else %>
            <p>
              <% unless @blog.blog_images_url.nil? %>
                  <%= image_tag @blog.blog_images_url, :class => "img-responsive" %>
              <% end %>
            </p>
        <% end %>

        <p><%= @blog.desc.html_safe %></p>
        <br>
        <bt id="tags">TAGS:<% @split_tag.each do |tags| %>
              <span><a href="#"><%= tags %></a></span>,
          <% end %>
        </bt>
        <hr>
        <p><%= link_to '# Back', blogs_path(), method: :get %></p>
        <!--<p><%#= link_to '# Back', blogs_path() %></p>-->


        <!-- Disqus Thread -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'nuttaponp';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript><!-- /Disqus Thread -->

      </div><!-- /column -->

    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /white -->