<!-- +++++ Post +++++ -->
<div id="white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p><img class="blog user" src="/assets/my_image.jpg" width="50px" height="50px"> <ba><%= @blog.name %></ba></p>
        <p><bd><%= @blog.created_at.localtime.strftime("%B %e at %l:%M %p") %></bd></p>
        <h4><%= @blog.title %></h4>
        <% if @blog.image == "" %>
            <p><img class="img-responsive" src="/assets/blog01.jpg" alt=""></p>
        <% else %>
            <p><img class="img-responsive" src="<%= @blog.image.html_safe %>" alt=""></p>
        <% end %>
        <p><%= @blog.desc.html_safe %></p>
        <br>
        <!--<p><bt>TAGS: <a href="#">Wordpress</a> - <a href="#">Web Design</a></bt></p>-->
        <bt id="tags">TAGS:<% @split_tag.each do |tags| %>
              <span><a href="#"><%= tags %></a></span>
          <% end %></bt>
        <hr>
        <p><%= link_to '# Back', blogs_path() %></p>
      </div>

    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /white -->